.body {
  margin: 0px;
  padding: 0px;
}

.splitter {
  border-right: 1px solid black;
  padding-right: 10px;
  margin-right: 10px;
}

.image-slider {
  margin: 2% 10%;
}
.footer {
  height: 12vh;
  background-color: gray;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 3% auto;
}

.page {
  padding: 5px 10px;
  margin: 0 5px;
  text-decoration: none;
  color: #333;
}

.page.active {
  border: 1px solid #ddd;
  color: #000000;
}

.seeMore {
  margin: 3% auto;
  width: 80%;
  text-align: end;
  /* start */
  font-size: 1.6em;
  position: relative;
  color: #74b239;
}
.seeMore:before {
  content: "";
  display: block;
  width: 90%;
  height: 2px;
  background: #ddd;
  left: 0;
  /* right */
  top: 60%;
  position: absolute;
}

@keyframes grow-and-shrink {
  0% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(1);
  }
}
