.body {
  margin: 0px;
  padding: 0px;
}

.splitter {
  border-right: 1px solid black;
  padding-right: 10px;
  margin-right: 10px;
}

.main-content {
  /* height: 100vh; */
}
.image-slider {
  margin: 2% 10%;
}
.footer {
  height: 12vh;
  background-color: gray;
}

